@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.NavBar {
  background-color: cadetblue;
  padding: 10px;
  font-family: 'Righteous', cursive;
}
.NavBar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.2rem;
}

button{
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 3rem;
  padding: 0;
  float: left;
}

a{
  color: #0B2827;
}

#profile-img {
  border-radius: 50%;
  width: 50px;
}